  {% if site.fb_app_id %}
  <meta property="fb:app_id" content="{{ site.fb_app_id }}" />
  {% endif %}

  <meta property="og:site_name" content="{{ site.title }}">

  {% if page.title %}
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:type" content="article">
  {% else %}
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:type" content="website">
  {% endif %}

  {% if page.meta_description %}
  <meta property="og:description" content="{{ page.meta_description }}">
  {% else %}
  <meta property="og:description" content="{{ site.meta_description }}">
  {% endif %}

  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />

  {% if page.id %}
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  {% else %}
  <meta property="og:url" content="{{ site.url }}{{ page.url | remove: '/index.html' | remove: '.html' }}" />
  {% endif %}

  {% if page.facebook_image %}
  <meta property="og:image" content="{{ page.facebook_image }}" />
  {% else %}
  <meta property="og:image" content="{{ page.image }}" />
  {% endif %}
