{% if page.is_post %}
  {% assign type = "BlogPosting" %}
{% else %}
  {% assign type = "Blog" %}
{% endif %}
  <!-- http://schema.org/ -->
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "{{ type }}",
    "@id": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}",
    "url": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}",
    "mainEntityOfPage": {
      "@type": "{{ type }}",
      "@id": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
    },
    "headline": "{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}",
    "description": "{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 140 }}{% else %}{{ site.description }}{% endif %}",
  {% if page.date %}
    "datePublished": "{{ page.date | date_to_xmlschema }}",
  {% endif %}
  {% if page.update %}
    "dateModified": "{{ page.update | date_to_xmlschema }}",
  {% endif %}
  {% if page.image %}
    "image": {
      "@type": "ImageObject",
      "url": "{{ page.url | prepend: site.baseurl | prepend: site.url }}{{ page.image.path }}",
      "width": {{ page.image.width }},
      "height": {{ page.image.height }}
  },
  {% endif %}
    "author": {
      "@type": "Person",
      "name": "{{ site.author }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ site.title }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ site.gravatar_url }}",
        "width": 60,
        "height": 60
      }
    }
  }
  </script>


















{% assign wordcount = include.content | number_of_words %}

<script type="application/ld+json">
{  
   "@context":"http://schema.org",
   "@type":"BlogPosting",
   "headline":"{{ include.headline }}",
   "genre":"{{ include.category }}",
   "keywords":"{{ include.keywords }}",
   "wordCount":"{{ wordcount }}",
   "url":"https://pauldambra.github.io{{ include.link }}",
   "datePublished":"{{ include.date | | date: '%Y-%m-%d' }}",
   "author":{  
      "@type":"Person",
      "name":"Paul D'Ambra",
      "sameAs":[  
        "https://twitter.com/pauldambra",
        "https://github.com/pauldambra",
        "https://plus.google.com/u/0/+PaulDAmbraPlus"
      ]
   },
   "publisher":{  
      "@type":"Person",
      "name":"Paul D'Ambra",
      "sameAs":[  
        "https://twitter.com/pauldambra",
        "https://github.com/pauldambra",
        "https://plus.google.com/u/0/+PaulDAmbraPlus"
      ],
      "logo": {
  		"@type": "ImageObject",
  		"contentUrl": "https://pauldambra.github.io/images/logo.png",
  		  "url": "https://pauldambra.github.io"
    }
   },
   "image":{  
      "@type":"ImageObject",
      "contentUrl":"https://pauldambra.github.io/images/cardboard.jpg",
      "url":"https://pauldambra.github.io",
      "height":"450",
      "width":"1000"
   },
   "mainEntityOfPage":{  
      "@type":"WebPage",
      "@id":"https://pauldambra.github.io{{ include.link }}"
   },
   "articleBody":"{{ include.content | strip_html | xml_escape | normalize_whitepace | strip_newlines | strip }}"
}
</script>
