{% if page.title %}{% assign type = "BlogPosting" %}{% else %}{% assign type = "Blog" %}{% endif %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "{{ type }}",
    "@id": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}",
    "url": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}",
    "mainEntityOfPage": {
      "@type": "{{ type }}",
      "@id": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
    },
    "name": "{{ page.title | default: site.title }}", 
    "keywords": {% if page.tags %}{{ page.tags | join: ',' | jsonify }}{% endif %},  
    "articleBody": {{ page.content | strip_html | xml_escape | normalize_whitepace | strip_newlines | strip | jsonify }},    
    "headline": "{{ page.title | default: site.title }}",
    "description": "{% if page.meta_description %}{{ page.meta_description | strip_html | strip_newlines | truncate: 140 }}{% else %}{{ site.meta_description }}{% endif %}",
    "datePublished": "{{ page.date | date_to_xmlschema }}",
    "dateModified": {{ page.last_modified_at | default: page.date | jsonify }},    
  {% if page.image %}
    "image": {
      "@type": "ImageObject",      
      "url": "{{ site.url | append: page.image }}",
      "width": 600,
      "height": 300
  },
  {% endif %}  
    "author": {
      "@type": "Person",
      "name": {{ site.authors[page.author].display_name | jsonify }},
      "email": {{ site.authors[page.author].email | jsonify }} ,
      "gender": "{{ site.authors[page.author].gender }}",
      "birthDate": "{{ site.authors[page.author].birthDate }}",      
      "jobTitle": "{{ site.authors[page.author].jobTitle }}", 
  {% if site.gravatar_url %}      
      "image": {
                "@type": "ImageObject",
                "url": "{{ site.gravatar_url }}"
               }, 
  {% endif %}                 
      "sameAs":[  
        "https://www.facebook.com/{{ site.authors[page.author].facebook }}",
        "https://www.twitter.com/{{ site.authors[page.author].twitter }}",
        "https://plus.google.com/u/0/{{site.authors[page.author].googleplus_id}}",
        "http://instagram.com/{{site.authors[page.author].instagram}}",
        "http://www.linkedin.com/in/{{site.authors[page.author].linkedin}}"      
      ]      
    },  
    "publisher": {
      "@type": "Organization",
      "name": {{ site.title | jsonify }},
      "description": {{ site.meta_description | jsonify }},
      "url": "{{ site.url }}",      
      "logo": {
        "@type": "ImageObject",
        "url": "{{ site.logo | prepend: site.baseurl | prepend: site.url }}",
        "width": 194,
        "height": 194
      },
      "sameAs":[  
        "https://www.facebook.com/{{ site.facebook.publisher }}",      
        "https://twitter.com/{{ site.twitter.username }}",
        "https://plus.google.com/u/0/{{ site.authors[page.author].googleplus_id }}",
        "http://instagram.com/{{site.instagram.username}}"
      ]      
    }
 }
  </script>
