<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@{{ site.twitter.username }}" />
<meta name="twitter:creator" content="@{{ site.authors[page.author].twitter }}" />
<meta name="twitter:title" content="{{ page.title | default: site.title | smartify }}" />
<meta name="twitter:description" content="{{ page.meta_description | default site.meta_description | smartify }}">
<meta name="twitter:url" content="{{ page.url | replace:'/index.html','/' | prepend: site.baseurl | prepend: site.url }}">
<meta name="twitter:image" content="{% if page.title %}{{ site.url | append: page.image }}{% else %}{{ site.url | append: site.social_image_path }}{% endif %}">
