<section class="header3 cid-rcomWGUhgp" id="header3-2a">
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-figure" style="width: 50%;">
                <img src="/assets/images/imageedit-3.gif" alt="Mobirise" title="">
            </div>

            <div class="media-content">
                <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-2">O que é o Projeto Bem Viver Organizada?</h1>
                
                <div class="mbr-section-text mbr-white pb-3 ">
                    <p class="mbr-text mbr-fonts-style display-7">O Projeto Bem Viver Organizada oferece o conhecimento 
                        básico para você começar a ter mais organização pessoal, e finalmente perceber que você está tendo mais qualidade
                        de vida, porque ela estará mais alinhada com suas prioridades. O Projeto Bem Viver
                        Organizada foi pensado para orientar você sobre como planejar o seu dia a dia, e
                        organizar seus afazeres dentro de um fluxo de organização que te permita gerenciar
                        melhor o seu tempo, focando no que é mais importante para você. Através desse
                        aprendizado você vai compreender que o problema não está no volume de demandas
                        que você recebe diariamente, porque isso vai sempre existir, e não temos controle algum
                        sobre ele, mas na forma errada de lidar com as demandas que chegam da vida para a
                        gente. Vamos aprender juntas sobre isso?
                    </p>
                    <p class="mbr-text mbr-fonts-style display-7">O conteúdo será entregue para você de forma simples e didática, através de áudios em um grupo fechado e limitado a nós duas, 
                        onde você recebe todo o meu suporte diário com troca de experiências e ideias.
                    </p>
                </div>  
            </div>
        </div>
    </div>
</section>
