<section class="mbr-section article content11 cid-rbK31YifLN" id="content11-1p">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 align-center">
                <!--<h2 class="mbr-fonts-style display-1">Testado e aprovado!</h2> -->
                <h3 class="mbr-section-subtitle mbr-light mbr-fonts-style display-2">
                    Quando seu Projeto Bem Viver Organizada estiver sendo implementado, você vai:
                </h3>
            </div>
        </div>
    </div>    
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-12 col-md-8 mbr-fonts-style display-7">
                <ol>
                    <li>Construir rotinas e processos para ter mais controle de suas atividades</li>
                    <li>Priorizar seus afazeres de acordo com o que é mais importante para você</li>
                    <li>Organizar suas atividades nos lugares corretos, e no momento mais adequado para fazer isso</li>
                    <li>Realizar planejamentos que te permitirão manter a produtividade no dia a dia</li>
                </ol>
            </div>
        </div>
    </div>
</section>
