<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Content-Language" content="{{ site.content_lang }}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

 {% include analytics.html %}  

 <title>
    {%- if page.title -%}
      {{ page.title | smartify }} · {{ site.title | smartify }}
    {%- else -%}
      {{ site.title | smartify }} · {{ site.description | smartify }}
    {%- endif -%}
 </title>

 <meta name="description" content="{{ page.meta_description | default: site.meta_description }}">
  
  <!--Manifest used for enabling PWA-->
  <link rel="manifest" href="manifest.json">
  <meta name="theme-color" content="{{ site.manifest_theme_color | default: 'white' }}"/>  

 {% include meta/social.html %} 
 {% include meta/favicon.html %}  
 {% include meta/stylesheet.html %} 
 {% include meta/website_ownership.html %} 

{% feed_meta %}
{{ site.sharethis }}	  
