<div class="article-post">
 </br>
 <p style="text-align: center;"><strong>Nossos Links:</strong></p>
 <p style="text-align: center;"><a title="Projeto Lar Bonito Lar" href="https://www.trololodemulher.com.br/Projeto-Lar-Bonito-Lar/">Projeto Lar Bonito Lar</a> | <a title="Facebook" href="https://www.facebook.com/TrololoMulher/">Facebook</a> | <a title="Instagram" href="https://www.instagram.com/trololodemulher/">Instagram</a><br /><br /></p>
 </br>
</div>

<!--
    <form method="POST"
          action="https://www.formingo.co/submit/denis.vasconcelos@gmail.com">
      <div class="header">
         <p>Sign Up For Beta</p>
      </div>
      <div class="description">
        <p>Milkshake is almost ready. If you're interested in testing it out, then sign up below to get exclusive access.</p>
      </div>
      <div class="input">
        <input type="email" class="button" id="email" name="__replyto" placeholder="Seu email">
        <input type="submit" class="button" id="submit" value="Inscreva">
        <input type="hidden" name="__redirect" value="https://www.trololodemulher.com.br/" />
        <input type="hidden" name="__subject" value="New submission!" />       
      </div>
    </form>


body {
  background: #F8A434;
  font-family: 'Lato', sans-serif;
  color: #FDFCFB;
  text-align: center;
}


form {
  width: 450px;
  margin: 17% auto;
}


.header {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
}


.description {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 45px;
}


.input {
  display: flex;
  align-items: center;
}


.button {
  height: 44px;
  border: none;
}

  
#email {
  width: 75%;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}


#submit {
  width: 25%;
  height: 46px;
  background: #E86C8D;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
}
  

#submit:hover {
  background: #d45d7d;
}
  

input:focus {
  outline: none;
  outline: 2px solid #E86C8D;
  box-shadow: 0 0 2px #E86C8D;
}
-->

<!--
<div class="container">
  <h1 class="text-center">Lorem ipsum dolor sit amet consectetur adipiscing elit</h1>

  <div class="row">
    <div class="col-sm-6 mt-5">
      <img src="http://placehold.it/500x350" alt="" class="img-fluid d-block mx-auto" />
    </div>
    <div class="col-sm-6 mt-5">
      <h3>Lorem ipsum dolor sit amet</h3>
      <p><strong>Sed eiusmod tempor labore dolore magna aliqua.</strong></p>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">First Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Last Name</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Email</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
        </div>
        <div class="dis15"></div>
        <button type="submit" class="btn btn-warning center-block btn-block">Get the free eBook</button>
      </form>
    </div>
  </div>
  <div class="dis80"></div>
  <h2 class="text-center">Exercitation ullamco laboris nisi ut</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <div class="dis30"></div>
  
</div>
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #6a6c6f;
  background-color: #f1f3f6;
  margin-top: 30px;
}

.dis15,
.dis30,
.dis80 {
  width: 100%;
  height: 15px;
  float: left;
  clear: both;
}
.dis80 {
  height: 80px;
}
.dis30 {
  height: 30px;
}

.container {
  max-width: 920px;
}

hr {
  border-color: #d4d4d4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
}
h1 {
    font-size: 50px;
}
h1,
h2 {
  margin-bottom: 30px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.btn {
  font-family: 'Roboto', sans-serif;
}

.btn-warning {
  max-width: 250px;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 12px;
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.check-list li {
  margin-bottom: 5px;
}

.check-list li:last-child {
  margin-bottom: 0;
}

.check-list li:before {
  position: relative;
  content: "\e013";
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  border-radius: 100%;
  color: #7CB342;
  margin-right: 8px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-control {
  height: 38px;
  border-radius: 0;
}
-->
