<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top mediumnavigation nav-down">    
  <div class="container pr-0">    
    <a class="navbar-brand" href="{{ site.baseurl }}/">
        <h2 class="sitetitle">{{ site.title }}</h2>
    </a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMediumish" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMediumish">
            <ul class="navbar-nav ml-auto" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
                        {% assign links = site.data.navigation %}
        {% for link in links %}
            {% assign class = nil %}
            {% if page.url contains link.url %}
                {% assign class = 'nav-item' %}
            {% endif %}
            {% if link.sublinks %}
                <li class="nav-item dropdown" itemprop="name">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Navegue +</a> 
                    <div class="dropdown-menu" aria-labelledby="dropdown01">                    
                        {% for sublink in link.sublinks %}
                           <a class="dropdown-item" itemprop="url" href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                        {% endfor %}
                   </div>     
                </li>
            {% else %}
                <li class="{{ class }}" itemprop="name">
                    <a class = 'nav-link' itemprop="url" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
            </ul>		
    </div>  
    </div>
</nav>
