<!-- 
------------------------------------------
-------------------   Testado ------------ 
------------------------------------------
-->    

<section class="testimonials1 cid-rcoej0qguJ" id="testimonials1-22">
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(239, 239, 239);">
    </div>
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 align-center">
                <h2 class="mbr-fonts-style display-1">Testado e aprovado!</h2>
                <h3 class="mbr-section-subtitle mbr-light mbr-fonts-style display-2">Confira o que diz quem participou dessa vivência:</h3>
            </div>
        </div>
    </div>

    <div class="container pt-3 mt-2">
        <div class="media-container-row">
            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        
                        <p class="mbr-text mbr-fonts-style display-7"><em>
                           "Muito obrigada por você ter partilhado conosco suas experiências. Realmente hoje sei que posso manter a casa limpa com pouco tempo diário. Para mim, que trabalho fora, foi uma mão na roda! Sucesso nas experiências futuras." 
                        </em></p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">Regina Coutinho</div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">Turma de Fevereiro, 2018
                        </small>
                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        
                        <p class="mbr-text mbr-fonts-style display-7"><em>
                           "Quero dizer que aos poucos estou conseguindo implantar alguns passos, e já tem diferença em minha rotina, sim. E meu objetivo é que fique cada vez mais leve. O projeto está fazendo diferença aqui!" 
                        </em></p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                             Tatyara
                        </div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">Turma de Março, 2018
                        </small>
                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        
                        <p class="mbr-text mbr-fonts-style display-7"><em>
                           "Lidi, estou acompanhando a vivência com muito interesse. Sempre gostei de organizar, etiquetar, separar, etc. Mas em pouco tempo eu mesma zoneava tudo de novo. Sou geminiana, uma gêmea arrumava e a outra bagunçava. Você me mostrou o caminho!” 
                        </em></p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">Bernadete Faria</div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">Turma de Abril, 2018
                        </small>
                    </div>
                </div>
            </div> 
        </div>
    </div>   
</section>
