<div id="section-2379112" klickart-edit-component-info="">
   <link href="https://fonts.googleapis.com/css?family=Slabo+13px" rel="stylesheet" type="text/css">
   <link rel="stylesheet" href="//static-public.klickpages.com.br/tmp/zip/698/styles/main.css?v=1493233838">
   <section class="itens-4 template-camila" style="background-attachment: scroll;">
      <div class="component-bg" style="background-color: rgb(239, 242, 248);" klickart-edit-background-mask-visible="true"></div>
      <div class="container">
         <div class="box-container">
            <div class="box">
               <div class="col media"> <img class="img-responsive" src="//static-public.klickpages.com.br/uploads/media/file/394439/socialmedia.jpg" alt="Imagem" klickart-edit-not-highlight="" style="width: 437px; border-radius: 50%;" klickart-image-source="src"> </div>
               <div class="col txt">
                  <h2 class="itens-4-title" style="font-family: Lora, sans-serif;"><b>O que são Grupos de Desafios?</b></h2>
                  <div class="description">
                     São comunidades feitas em mídias sociais (facebook, whatsapp ou telegram) com o objetivo de postar um desafio por dia para colocar o cliente em ação.&nbsp;
                     <div><br></div>
                     <div>É uma ótima ferramenta para motivar o cliente com o poder de um grupo, dar doses diárias de inspiração e fazer com que ele coloque o projeto que ele tanto quer em prática.</div>
                     <div><br></div>
                     <div>Você pode lançar seus grupos de desafios cobrando de 19 a 299 reais por participante por um período de até 30 dias.&nbsp;</div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</div>
