<div id="section-2379110" klickart-edit-component-info="">
   <link rel="stylesheet" href="//static-public.klickpages.com.br/tmp/zip/287/styles/main.css">
   <section class="testimony template-ivan" style="background-attachment: scroll; background-image: url(&quot;//static-public.klickpages.com.br/uploads/media/file/394114/shutterstock_1053938366.jpg&quot;);">
      <div class="component-bg" style="background-color: rgba(249, 249, 249, 0.3);" klickart-edit-background-mask-visible="true"></div>
      <div class="container">
         <div class="testimony-list" id="klickart-collection-ik3aasm4f3000">
            <div class="item col-3">
               <div class="testimony-quote">
                  <div class="testimony-balloon" klickart-edit-types="color" style="background-attachment: scroll; background-color: rgb(255, 255, 255);">
                     <div>"Logo depois do curso lancei meu grupo de desafios e consegui 32 participantes com o valor de 97 reais cada.&nbsp; Estou maravilhada, não esperava por esse resultado!&nbsp; O grupo está incrível e com uma excelente interação. E eu estou super feliz com tudo!"</div>
                  </div>
                  <div class="testimony-info">
                     <div class="txt">
                        <h3 class="title"><b><font class="klickart-font klickart-font-bg" style="color: rgb(255, 255, 255); background-color: rgb(0, 0, 0);">Camila Lopes</font></b></h3>
                     </div>
                  </div>
               </div>
            </div>
            <div class="item col-3">
               <div class="testimony-quote">
                  <div class="testimony-balloon" klickart-edit-types="color" style="background-attachment: scroll;">
                     <div><i>"Eu não tinha uma audiência grande e fiz o desafio duvidando que daria certo, mas para a minha surpresa consegui 62 participantes pagando 49 reais cada já no primeiro desafio. Estou muito feliz! Com certeza o curso foi o investimento que fiz que deu o retorno mais rápido!!!"</i></div>
                  </div>
                  <div class="testimony-info">
                     <div class="txt">
                        <h3 class="title"><b class="medium-b"><font class="klickart-font klickart-font-bg" style="color: rgb(255, 255, 255); background-color: rgb(0, 0, 0);">Ana Carolina</font></b></h3>
                     </div>
                  </div>
               </div>
            </div>
            <div class="item col-3">
               <div class="testimony-quote">
                  <div class="testimony-balloon" klickart-edit-types="color" style="background-attachment: scroll;">
                     <div><i class="medium-i">O curso é bem direto ao ponto, super prático, respeita nosso tempo e não tem enrolação. Em 2 horas assisti tudo, tirei minhas dúvidas e é incrível como a Isis sempre está disposta a esclarecer tudo. Em menos de 1 hora já fiz todos os meus desafios e no outro dia já estava lançando. Em menos de uma semana de curso tive o retorno de 1470 reais com o meu primeiro grupo de desafio. Façam desafios, valeu muito a pena".</i></div>
                  </div>
                  <div class="testimony-info">
                     <div class="txt">
                        <h3 class="title" style=""><b class="medium-b"><font class="klickart-font klickart-font-bg" style="color: rgb(255, 255, 255); background-color: rgb(0, 0, 0);">Juliana Braga</font></b></h3>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</div>
