<div id="section-2379111" klickart-edit-component-info="">
   <link rel="stylesheet" href="//static-public.klickpages.com.br/tmp/zip/342/styles/main.css">
   <section class="image template-conapnl" style="background-attachment: scroll;">
      <div class="component-bg" style="background-color: rgb(255, 255, 255);" klickart-edit-background-mask-visible="true"></div>
      <div class="container">
         <img src="//static-public.klickpages.com.br/uploads/media/file/521202/7diasgarantia.png" alt="Imagem" style="width: 176px;" klickart-image-source="src">
         <h3 class="image-description Medium Medium-rich">Até 7 dias depois da inscrição, você pode cancelar por qualquer motivo.</h3>
      </div>
   </section>
</div>
