<!--
------------------------------------------
-------------------   Header ------------
------------------------------------------
-->
  </br>
  <section class="cid-rbK1bjiRfD" id="header4-1c">
    <!--header4  mbr-fullscreen-->
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="media-content col-md-10">
                <h1 class="mbr-section-title align-center mbr-white  mbr-bold mbr-fonts-style display-2">
                  Saiba o melhor passo a&nbsp;passo da gestão do lar, para que você ganhe tranquilidade e tempo no dia a dia.&nbsp;
                </h1>

                <div class="mbr-text align-center mbr-white pb-3">
                    <p class="mbr-text mbr-fonts-style display-5">
                        Se organizar para cuidar de sua casa vai fazer você mudar sua relação com seu lar.
                    </p>
                </div>
            </div>
            <div class="mbr-figure">
                <!-- <img src="/assets/images/imagem-landingpage-648-1024x648.png" alt="" title="" style="width: 75%;"> -->
                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/a6XfiBKAzR4?cc_load_policy=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                <!-- <iframe width="640" height="360" src="https://www.youtube.com/embed/a6XfiBKAzR4?controls=0?cc_load_policy=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            </div>
        </div>
    </div>
</section>
