<!--
------------------------------------------
----------- Perfil ------------
------------------------------------------
-->


<section class="testimonials2 cid-rcohJ20qa9" id="testimonials2-23">
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-figure">
              <!-- pr-lg-5" style="width: 30%;"-->
              <img src="/assets/images/imageedit-6.gif" alt="" title="" style="width: 200px;">
            </div>
            <div class="media-content px-3 align-self-center mbr-white py-2">
                    <p class="mbr-text testimonial-text mbr-fonts-style display-7">
                       Eu vou te mostrar que gerenciar o seu tempo nas demandas da casa é mais simples do que você imagina, e que com informação e organização, dá para cuidar de seu lar com mais leveza. Você vai aprender o passo a passo para ter tranquilidade e mais tempo no dia a dia, tudo para que você possa se dedicar ao que mais importa: família, trabalho, projetos pessoais.
                    </p>
                    <p class="mbr-author-name pt-4 mb-2 mbr-fonts-style display-7">
                       Lidiane Vasconcelos
                    </p>
                    <p class="mbr-author-desc mbr-fonts-style display-7">
                       Criadora do Projeto Lar Bonito Lar
                    </p>
            </div>
        </div>
    </div>
</section>
