<!DOCTYPE html>
<html lang="{{ site.content_lang }}">
<head>
{% include analytics.html %}   	
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="{{ site.content_lang }}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://plus.google.com/{plusPageUrl}" rel="publisher" />
<link rel="icon" href="{{ site.baseurl }}/assets/images/logo.png">
<title>{{ page.title }} | {{site.name}}</title>
{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %} 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> -->
<!-- <link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i" rel="stylesheet"> -->
<link href="{{ site.baseurl }}/assets/css/screen.css" rel="stylesheet">  
<link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">
	
{{site.sharethis}}	
    
</head>
    
{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="{{ layout }}">

{% include nav.html %}
    
<div class="site-content">   
<div class="container">
        
<!-- Content
================================================== --> 
<div class="main-content">
    {{ content }}
</div>

{% if site.enable_alertbar == true %}
   {% include alertbar.html %} 
{% endif %}     
    
</div><!-- /.container -->

{% if site.jumbotron_footer == true %}
   {% include jumbotron_footer.html %} 
{% endif %}   	
{% if site.enable_explorer == true %}	
   {% include explore_categories.html %}  
{% endif %} 	   
</div> <!-- /.site-content> -->
{% include footer.html %}  
<!-- Bootstrap core JavaScript
================================================== -->
<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="{{ site.baseurl }}/assets/js/mediumish.js"></script>
</body>
</html>
