---
layout: compress
---
<!DOCTYPE html>
{% if page.id%}
<html lang="{{ site.content_lang }}"
      itemscope 
      itemtype="http://schema.org/Article" 
      prefix="og: http://ogp.me/ns#" >
{% else %}    
<html lang="{{ site.content_lang }}"
      prefix="og: http://ogp.me/ns#" >
{% endif %}  
<head>
   {% include head.html %}   	 
</head>
    
{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="{{ layout }}">

{% include nav.html %}
    
<div class="site-content">   
<div class="container">
        
<!-- Content
================================================== --> 
<div class="main-content">
    {{ content }}
</div>

{% if site.enable_alertbar == true %}
   {% include alertbar.html %} 
{% endif %}     
    
</div><!-- /.container -->

{% if site.jumbotron_footer == true %}
   {% include jumbotron_footer.html %} 
{% endif %}   	
{% if site.enable_explorer == true %}	
   {% include explore_categories.html %}  
{% endif %} 	   
</div> <!-- /.site-content> -->
   
{% include footer.html %}  
{% include scripts.html %}     

</body>
</html>
