<!DOCTYPE html>
<html 
      itemscope 
      itemtype="http://schema.org/Article" 
      prefix="og: http://ogp.me/ns#" >
<head>

	{% include landing_page_pbvo/head.html %} 

</head>
    

<body>
      
      {% include landing_page_pbvo/head_video.html %}
      {% include landing_page_pbvo/inscrever.html %}	
      {% include landing_page_pbvo/garantia.html %}
      {% comment %} 
            {% include landing_page_pbvo/depoimentos_texto.html %} 
      {% endcomment %}	
      {% include landing_page_pbvo/o_que_e.html %}
      {% include landing_page_pbvo/o_que_vai_aprender.html %}
      {% include landing_page_pbvo/faq.html %}
      {% include landing_page_pbvo/inscrever.html %}		
      {% include landing_page_pbvo/perfil.html %}
      {% include landing_page_pbvo/scripts.html %}	
	

</body>
</html>
