<!DOCTYPE html>
<html 
      itemscope 
      itemtype="http://schema.org/Article" 
      prefix="og: http://ogp.me/ns#" >
<head>

	{% include landing_page_plbl/head.html %} 

</head>
    

<body>
      {% comment %} 
            {% include landing_page_plbl/head_video.html %} 
      {% endcomment %}	
      {% include landing_page_plbl/head.html %}
      {% include landing_page_plbl/inscrever.html %}	
      {% include landing_page_plbl/garantia.html %}
      {% include landing_page_plbl/depoimentos_texto.html %}
      {% include landing_page_plbl/o_que_e.html %}
      {% include landing_page_plbl/o_que_vai_aprender.html %}
      {% include landing_page_plbl/faq.html %}
      {% include landing_page_plbl/inscrever.html %}		
      {% include landing_page_plbl/perfil.html %}
      {% include landing_page_plbl/scripts.html %}	
	

</body>
</html>
