---
layout: default
---

<div class="container">
   <div class="row">
      <!-- Post Share -->
      <div class="col-md-2 pl-0">
      </div>
		
      <!-- Post -->        
      {% assign author = site.authors[page.author] %}    
      <div class="col-md-8 flex-first flex-md-unordered">
         <div class="mainheading">
            <!-- Post Title -->
            <h1 class="posttitle">{{ page.title }}</h1> 		 
         </div>
	      
         <!-- Post Featured Image -->
         {% if page.image %}
	    <img class="featured-image img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ page.image | absolute_url }}{% endif %}" alt="{{ page.title }}">
            <link itemprop="thumbnailUrl" href="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ page.image | absolute_url }}{% endif %}"> 
            <span itemprop="thumbnail" itemscope itemtype="http://schema.org/ImageObject"> 
              <link itemprop="url" href="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ page.image | absolute_url }}{% endif %}"> 
            </span>	      
	 {% endif %}
	      
<meta itemscope itemtype="http://schema.org/Article" />
<meta itemprop="headline" content="{{ page.title }}" />
<meta itemprop="description" content="{{ page.meta_description }}" />
<meta itemprop="image" content="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ page.image | absolute_url }}{% endif %}" />

	      
         <!-- Post Content -->
         <div class="article-post">
            {{content}}
         </div>
   
	      </br>
                <div style="margin: 0 auto;" class="media-container-column" data-form-type="formoid">
                    <div data-form-alert="" hidden="">
                        Thanks for filling out the form!
                    </div>
                    <form class="form-inline" action="https://getsimpleform.com/messages?form_api_token=97ae79eeaf7eef692a2a759aa30bea5a" method="post">
			<input type='hidden' name='redirect_to' value='https://www.lidianevasconcelos.com/Obrigada-por-Assinar-a-Newsletter/' />
                        <div class="form-group">
                            <input type="text" class="form-control input-sm input-inverse" name="email" required="" data-form-field="Email" placeholder="Email" id="email-header14-a">
                        </div>
                        <div class="buttons-wrap">
                            <input class="btn btn-primary display-4" type="submit" value='ASSINE' role="button" />
                        </div>
                    </form>
                </div>
        
	      
      </div>
   </div>
</div>
