---
layout: default
archive: false
post_class: post-template
---

<div class="container">
   <div class="row">
      <!-- Post Share -->
      <div class="col-md-2 pl-0">
      </div>
		
      <!-- Post -->        
      {% assign author = site.authors[page.author] %}    
      <div class="col-md-8 flex-first flex-md-unordered">
         <div class="mainheading">
            <!-- Post Title -->
            <h1 class="posttitle">{{ page.title }}</h1> 
            <!-- Post Author -->
            <small>Por: {{ author.display_name }}
		{% if page.date %}
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
                {% endif %}
		{% if page.last_modified_at %}
                (Atualizado: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
            </small>			 
         </div>
	      
	      
        {% include post_featured_image.html %}	      
	      
	      
         <!-- Post Content -->
         <div class="article-post">
            {{content}}
         </div>
            
         {% include post_categories.html %}	      
         {% include post_links.html %}
         {% include post_newsletter.html %}
	 {% include post_recent.html %}
	 {% comment %}
         {% include post_pagination.html %}		       
	 {% endcomment %}
      </div>
   </div>
</div>
