---
layout: default
archive: false
post_class: post-template
---

<div class="container">
   <div class="row">
      <!-- Post Share -->
      <div class="col-md-2 pl-0">
      </div>
		
      <!-- Post -->        
      {% assign author = site.authors[page.author] %}    
      <div class="col-md-8 flex-first flex-md-unordered">
         <div class="mainheading">
            <!-- Post Title -->
            <h1 class="posttitle">{{ page.title }}</h1> 
            <!-- Post Date -->
            <small>Por: {{ author.display_name }}
		{% if page.date %}
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
                {% endif %}
		{% if page.last_modified_at %}
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
            </small>			 
         </div>
	      
         <!-- Post Featured Image -->
         {% if page.image %}
	    <img class="featured-image img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ page.image | absolute_url }}{% endif %}" alt="{{ page.title }}">
            <link itemprop="thumbnailUrl" href="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ page.image | absolute_url }}{% endif %}"> 
            <span itemprop="thumbnail" itemscope itemtype="http://schema.org/ImageObject"> 
              <link itemprop="url" href="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ page.image | absolute_url }}{% endif %}"> 
            </span>	      
	 {% endif %}
	      
<meta property="og:site_name" content="Example Site" />
<div itemscope itemtype="http://schema.org/Article">
    <meta itemprop="url" content="http://www.cnn.com/2014/08/11/travel/sagano-bamboo-forest/" />
    <span itemprop="name" content="Exploring Kyoto's Sagano Bamboo Forest - CNN.com" /> 
    <span itemprop="author" content="CNN Karla Cripps" />
    <img itemprop="image" src="http://www.example.com/2013/article_image.png" alt="Kyoto Forest" />
    <span itemprop="description">A constant inclusion on lists of forests to see before you die, here's how to see the real thing.</span>
</div>
	      
<meta itemscope itemtype="http://schema.org/Article" />
<meta itemprop="headline" content="Top 10 Most Challenging Hikes in North America" />
<meta itemprop="description" content="Looking for a challenging hike? We spent the
past year spanning the continent for the most grueling trails. Check out the entire
ranked list, and learn about our methodology..." />
<meta itemprop="image" content="http://i.sportyfitness.com/media/tough-trail-lrg.jpg" />

	      
         <!-- Post Content -->
         <div class="article-post">
            {{content}}
         </div>
            
         <!-- Post Categories -->
         <div class="after-post-tags">
            <ul class="tags">
               {% assign sortedCategories = page.categories | sort %}
               {% for category in sortedCategories %}
                  <li>
                     <a href="{{ site.baseurl }}/category/{{ category | slugify }}/">{{ category }}</a>
                  </li>
               {% endfor %}
            </ul>
         </div>
         
	 <!-- Prev/Next -->
         <div class="row PageNavigation d-flex justify-content-between font-weight-bold">
            {% if page.previous.url %}
               <a class="prev d-block col-md-6" href="{{page.previous.url | absolute_url}}"> &laquo; {{page.previous.title}}</a>
            {% endif %}
            {% if page.next.url %}
               <a class="next d-block col-md-6 text-lg-right" href="{{page.next.url | absolute_url}}">{{page.next.title}} &raquo; </a>
            {% endif %}
            <div class="clearfix"></div>
         </div>
      </div>
   </div>
</div>

{% include comments.html %}
